# Core dependencies
aiogram==3.4.1
sentry-sdk[sqlalchemy]==2.32.0
asyncio-throttle==1.0.2

# Database
aiosqlite==0.19.0
sqlalchemy[asyncio]==2.0.25

# Environment variables
python-dotenv==1.0.0






